

[class^="icon-"], [class*=" icon-"] {
  width: 2.17ex;
  height: 2.17ex;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: text-top;
}

.icon-bk-alerts       {background-image: url("icon-set/bk-alerts.svg");}
.icon-bk-gms        {background-image: url("icon-set/bk-gms.svg");}
.icon-bk-heatmap        {background-image: url("icon-set/bk-heatmap.svg");}
.icon-bk-indices        {background-image: url("icon-set/bk-indices.svg");}
.icon-BK-logo       {background-image: url("icon-set/BK-logo.svg");}
.icon-bk-market       {background-image: url("icon-set/bk-market.svg");}
.icon-bk-marketDepth        {background-image: url("icon-set/bk-marketDepth.svg");}
.icon-bk-news       {background-image: url("icon-set/bk-news.svg");}
.icon-bk-quote        {background-image: url("icon-set/bk-quote.svg");}
.icon-bk-timeAnsSales       {background-image: url("icon-set/bk-timeAnsSales.svg");}
.icon-bk-topStocks        {background-image: url("icon-set/bk-topStocks.svg");}
.icon-bk-watchList        {background-image: url("icon-set/bk-watchList.svg");}
.icon-changeOrientation       {background-image: url("icon-set/changeOrientation.svg");}
.icon-down-indicator        {background-image: url("icon-set/down-indicator.svg");}
.icon-hamburger-dark        {background-image: url("icon-set/hamburger-dark.svg");}
.icon-hamburger-light       {background-image: url("icon-set/hamburger-light.svg");}
.icon-header-logout       {background-image: url("icon-set/header-logout.svg");}
.icon-header-settings       {background-image: url("icon-set/header-settings.svg");}
.icon-header-share        {background-image: url("icon-set/header-share.svg");}
.icon-left-arrow        {background-image: url("icon-set/left-arrow.svg");}
.icon-nav-financials        {background-image: url("icon-set/nav-financials.svg");}
.icon-nav-markets       {background-image: url("icon-set/nav-markets.svg");}
.icon-nav-myportfolio       {background-image: url("icon-set/nav-myportfolio.svg");}
.icon-nav-quote       {background-image: url("icon-set/nav-quote.svg");}
.icon-nav-watchList       {background-image: url("icon-set/nav-watchList.svg");}
.icon-right-arrow       {background-image: url("icon-set/right-arrow.svg");}
.icon-Search_1        {background-image: url("icon-set/Search_1.svg");}
.icon-Search        {background-image: url("icon-set/Search.svg");}
.icon-up-indicatior       {background-image: url("icon-set/up-indicatior.svg");}



